#hero {
    background: url(../images/mountains.png);
    background-repeat:no-repeat;
    height: 75vh;
    background-color: none;
    background-size: cover;
}

#hero .jumbotron, #hero .bg-light {
    background: url(../images/mountains.png);
    background-repeat:no-repeat;
    height: vh;
}